<div class="mainContainer">
    <div class="container">
        <h1>Welcome artists app</h1>

        <ul>
            <li ng-repeat="artist in vm.artists">
                <a href="/#!/artist/{{artist._id}}">{{artist.name}} - {{artist.country}}</a>
            </li>
        </ul>
    </div>
</div>